   <div class="container">
	<div class="row">
	   <hr>
		<div class="text-success"><b>Yesterday is history, Tomorrow is mystery, but Today is a gift, that is why it is called the present</b></div>
	</div>
  </div>
</body>
</html>